spring.application.name=HumanInTheLoopLLM

spring.datasource.url=jdbc:postgresql://localhost:5432/HumanInTheLoop
spring.datasource.username=sa
spring.datasource.password=1234
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

server.port=8080

openrouter.api.key=your-key
openrouter.model=google/gemma-4-26b-a4b-it:free

spring.servlet.multipart.max-file-size=20MB
spring.servlet.multipart.max-request-size=20MB